{% extends "loggedin.html" %}

{% block header %}{% include "header.html" with title="SEO Landing Page Content Catalog" %}{% endblock header %}

{% block content %}
  <section class="full">
    <p>Define the content sections that make up SEO landing pages here.</p>
    <div class="section row">
      <select id="section-select"><option value="">-- No sections --</option></select>
      <span>
        <input type="text" id="section-name-input" placeholder="New section name"/>
        <select id="slot-select">
          <option value="body">Appears in the main content of the page</option>
          <option value="header">Appears in the page header</option>
          <option value="footer">Appears in the page footer</option>
          <option value="meta">Is a meta tag (does not appear in the page)</option>
        </select>
        <button id="add-section-button">Add</button>
      </span>
    </div>
    <div class="section row" id="variant-nav-div" style="display:none">
      <span id="got-variants-span" style="display: none;">
        Showing variant #<span id="variant-index-span"></span>
        of <span id="nvariants-span"></span>
      </span>
      <span id="no-variants-span" style="display: none;">No content variants yet</span>
      <a href="#" id="prev-variant-link">Previous</a>
      <a href="#" id="next-variant-link">Next</a>
      <button id="add-variant-button">Add variant</button>
    </div>
    <div class="section">
      <textarea id="the-textarea" style="display:none"></textarea>
    </div>
    <div class="section centered">
      <button id="save-button" style="display:none">Save</button>
    </div>
  </section>
{% endblock content %}

{% block load-last %}
{{ block.super }}
<script type="text/javascript">
  var currentSection;
  var currentVariantIndex;

  function initApp() {
    buildSectionSelect();
  }

  function buildSectionSelect() {
    var $select = $("#section-select");
    $select.empty()
    if (!contentSections.length) {
      $select.append($("<option value=''>-- No sections --</option>"));
    }
    else {
      $select.append($("<option value=''>Select a section</option>"));
    }
    for (var i = 0; i < contentSections.length; ++i) {
      var cs = contentSections[i];
      $select.append($("<option>").text(cs.name).attr("value", cs.id))
    }
  }

  $("#add-section-button").on("click", function() {
    var sectionName =  $("#section-name-input").val();
    if (!sectionName) {
      alert("Enter new section name.")
      return;
    }
    if (contentIndex.byName[sectionName]) {
      alert("That section already exists.")
      return;
    }
    var slot = $("#slot-select").find("option:selected").val();
    $.ajax({
      url: "/api/1.0/cs",
      data: JSON.stringify({ name: sectionName, slot: slot }),
      type: "POST",
      contentType: "application/json",
      dataType: "json",
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Accept", "application/json")
      }
    })
    .then(function(data) {
      contentIndex.byId[data.id] = data;
      contentIndex.byName[data.name] = name;
      contentSections.push(data);
      data.variants = [];
      contentSections.sort();
      buildSectionSelect();
      $("#section-select").val(data.id);
      currentSection = data;
      currentVariantIndex = 0;
      renderCurrentVariant();
      $("#section-name-input").val("");
    })
    .catch(function(err) {
      alert("Error adding section.");
    });
  })

  $("#section-select").on("change", function() {
    var sectionId = $(this).find("option:selected").val();
    if (sectionId) {
      currentSection = contentIndex.byId[sectionId];
      currentVariantIndex = 0;
      renderCurrentVariant();
    }
  })

  function renderCurrentVariant() {
    if (currentSection && currentSection.variants.length > 0) {
      $("#the-textarea").show()
      $("#the-textarea").attr("readonly", true);
      $("#the-textarea").val("(Loading...)")
      loadCurrentText();
    }
    else {
      $("#the-textarea").hide()
    }
    refreshVariantNav();
  }

  function refreshVariantNav() {
    $("#variant-nav-div").hide();
    if (!currentSection) return;
    var nvariants = currentSection.variants.length;
    if (nvariants == 0) {
      $("#got-variants-span").hide();
      $("#no-variants-span").show();
    }
    else {
      $("#got-variants-span").show();
      $("#no-variants-span").hide();
      $("#variant-index-span").text(currentVariantIndex + 1)
      $("#nvariants-span").text(nvariants);
    }
    if (nvariants < 2) {
      $("#prev-variant-link").hide();
      $("#next-variant-link").hide();
    }
    else {
      $("#prev-variant-link").show();
      $("#next-variant-link").show();
    }
    $("#variant-nav-div").show();
  }

  function loadCurrentText() {
    return $.ajax({
      url: "/api/1.0/cv/" + currentSection.variants[currentVariantIndex].id,
      type: "GET",
      cache: false,
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Accept", "application/json")
      }
    })
    .then(function(data) {
      $("#the-textarea").val(data.text);
      $("#the-textarea").attr("readonly", false);
      $("#save-button").show()
    })
    .catch(function(err) {
      alert("Error loading content.");
    });
  }

  $("#prev-variant-link").on("click", function() {
    if (currentVariantIndex > 0) {
      currentVariantIndex -= 1;
      renderCurrentVariant();
    }
  })
  $("#next-variant-link").on("click", function() {
    if (currentVariantIndex < currentSection.variants.length - 1) {
      currentVariantIndex += 1;
      renderCurrentVariant();
    }
  })

  $("#add-variant-button").on("click", function() {
    if (!currentSection) return;
    $.ajax({
      url: "/api/1.0/cv",
      data: JSON.stringify({ section: currentSection.id, text: "<p>Your HTML here.  Don't forget to click Save.</p>" }),
      type: "POST",
      contentType: "application/json",
      dataType: "json",
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Accept", "application/json")
      }
    })
    .then(function(data) {
      currentSection.variants.push(data);
      currentVariantIndex = currentSection.variants.length - 1;
      renderCurrentVariant();
      $("#the-textarea").val(data.text);
    })
    .catch(function(err) {
      alert("Error adding section.");
    })
  })

  $("#save-button").on("click", function() {
    if (!currentSection || !currentSection.variants.length) return;
    var id = currentSection.variants[currentVariantIndex].id;
    var text = $("#the-textarea").val();
    $.ajax({
      url: "/api/1.0/cv/" + id,
      data: JSON.stringify({ section: currentSection.id, text: text }),
      type: "PUT",
      contentType: "application/json",
      dataType: "json",
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Accept", "application/json")
      }
    })
    .then(function(data) {
      alert("Saved.")
    })
    .catch(function(err) {
      alert("Error saving text.");
    })
  })
</script>
{% endblock load-last %}
