<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
    body {
      font-family: Arial;
    }
    .error {
      color: red;
    }
    .require-selection:not(.selection) {
      color: #ccc;
    }
    .require-selection:not(.selection) td {
      color: #ccc;
    }
    .require-selection:not(.selection) th {
      color: #ccc;
    }
    table {
      margin-left: 50px;
    }
    .section {
      margin: 20px 30px;
    }
    .centered {
      text-align: center;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  </style>
</head>
<body>
  <h2 class="centered">OEM Interactive: SEO Landing Page Content Admin</h2>
  <div class="section centered">
    <select id="website-select">
      <option value="">Select a website...</option>
      <option>sparksparts.com</option>
      <option>sneedparts.com</option>
      <option value="">More to be added...</option>
    </select>
    <select id="year-select">
      <option value="">Select a year...</option>
      <option>2011</option>
      <option>2010</option>
      <option>2009</option>
      <option>2008</option>
      <option>2007</option>
      <option>2006</option>
      <option>2005</option>
      <option>2004</option>
      <option>2003</option>
      <option>2002</option>
      <option>2001</option>
      <option>2000</option>
    </select>
    <select id="make-select">
      <option value="">Select a make...</option>
      <option value="audi">Audi</option>
      <option value="fiat">Fiat</option>
      <option value="ford">Ford</option>
      <option value="gm">GM</option>
      <option value="hyundai">Hyundai</option>
      <option value="kia">Kia</option>
      <option value="nissan">Nissan</option>
      <option value="saab">Saab</option>
      <option value="subaru">Subaru</option>
      <option value="volkswagen">Volkswagen</option>
      <option value="volvo">Volvo</option>
      <option value="">More to be added...</option>
    </select>
    <input id="model-input" type="text" placeholder="Enter a model"/>
  </div>
  <div class="require-selection section row">
    <span>Images available for this year/make/model: <b id="nimages-span">---</b></span>
    <span><a href="test123">Add images</a></span>
  </div>
  <div class="require-selection section row">
    <h3>Content sections:</h3>
    <span><a href="ccat123">Add content</a></span>
  </div>
  <div id="content-sections-div" class="require-selection section">
  </div>
  <div class="require-selection section">
    <button>Generate</button> <button id="preview-button">See Page</button>
  </div>
</body>
<script type="text/javascript">
  var contentCatalog;
  var contentConfiguration;
  var availableContentSections;

  $.ajax({
    url: "/api/1.0/ccat",
    type: "GET",
    cache: false,
    beforeSend: function(xhr) {
      xhr.setRequestHeader("Accept", "application/json")
    }
  })
  .then(function(data) {
    contentCatalog = data;
    checkComplete();
  })
  .catch(function(err) {
    alert("Error loading content catalog.");
  });

  $("#website-select").on("change", function() {
    checkComplete()
  })
  $("#year-select").on("change", function() {
    checkComplete()
  })
  $("#make-select").on("change", function() {
    checkComplete()
  })
  $("#model-input").on("change", function() {
    checkComplete()
  })

  function checkComplete() {
    if (contentCatalog) {
      if (websiteValue() && yearValue() && makeValue() && modelValue()) {
        $("#content-sections-div").append($("<p style='color: #cc22bb'>").text("Loading..."));
        loadAndRenderSelection();
      }
      else {
        $(".require-selection button").attr("disabled", true);
        $(".require-selection input").attr("disabled", true);
        $(".require-selection").removeClass("selection");
        $("#preview-button").text("See Page");
        $("#nimages-span").text("---")
      }
    }
  }

  function loadAndRenderSelection() {
    loadWymmConfig().then(function() {
      loadImageCount().then(function() {
        $(".require-selection button").attr("disabled", false);
        $(".require-selection input").attr("disabled", false);
        $(".require-selection").addClass("selection");
        $("#preview-button").text("See " + previewUrl());
      })
    })
  }

  function loadWymmConfig() {
    return $.ajax({
      url: "/api/1.0/ccfg/" + getSlug(),
      type: "GET",
      cache: false,
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Accept", "application/json")
      }
    })
    .then(function(data) {
      contentConfiguration = data || {}
      renderSections();
    })
    .catch(function(err) {
      alert(err);
    })
  }

  function renderSections() {
    $("#content-sections-div").empty();
    if (contentConfiguration && contentConfiguration.sections) {
      var sections = contentConfiguration.sections;
      for (var i = 0; i < sections.length; ++i) {
        var row = $("<div>").append($("<span style='min-width: 200px'>").text(sections[i].name));
        row.append($("<span>").text(" "));
        var deleteButton = $("<button>×</button>");
        row.append(deleteButton);
        $("#content-sections-div").append(row);
      }
    }
    var sectionSelect = renderSectionSelect();
    if (sectionSelect) {
      var addButton = $("<button>").text("Add section");
      addButton.on("click", function() {
        var sectionName = sectionSelect.find("option:selected").val();
        if (sectionName) {
          renderSections();
        }
      })
      $("#content-sections-div").append($("<div>").append(sectionSelect).append(addButton));
    }
  }
  function renderSectionSelect() {
    if (availableContentSections.length) {
      availableContentSections.sort();
      var $select = $("<select>");
      return $select;
    }
  }
  function loadImageCount() {
    return $.ajax({
      url: "/api/1.0/media",
      type: "GET",
      data: {
        year: yearValue(),
        make: makeValue(),
        model: modelValue()
      },
      cache: false,
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Accept", "application/json")
      }
    })
    .then(function(data) {
      if (!data || !data.length) {
        $("#nimages-span").text("None")
      }
      else {
        $("#nimages-span").text("" + data.length)
      }
    })
    .catch(function(err) {
      alert(err);
    })
  }
  function websiteValue() {
    return $("#website-select option:selected").val()
  }
  function yearValue() {
    return $("#year-select option:selected").val()
  }
  function makeValue() {
    return $("#make-select option:selected").val()
  }
  function modelValue() {
    return $("#model-input").val()
  }
  function forDisplay(value) {
    return value.replace(/[\s-]/g, "").toLowerCase();
  }
  function previewUrl() {
    return "https://" + websiteValue() + "/v-" + getSlug();
  }
  function getSlug() {
    return forDisplay(yearValue()) + "-" + forDisplay(makeValue()) + "-" + forDisplay(modelValue())
  }
  checkComplete()
</script>
</html>
